h2 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      text-decoration: underline;
      margin-top: 130px;
      font-size: 40px;
      margin-bottom: 40px;
}
ul {
    list-style: none;
    
    
}

li {
    float: left;
    margin-left: 240px;
    margin-top: 10px;
    margin-bottom: 40px;
    border:1px solid;
    padding-top:25px;
    border-radius: 2px;
    width: 220px;
    text-align: center;
    cursor: pointer;
    border-color:navy;
    background-color:navy;
    box-shadow: navy;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height:100px;
     

}
 br {
    position: relative;
     
 }
 
 