 table {
     width: 800px;
     text-align: center;
     margin-left: 220px;
     margin-bottom: 100px;
     margin-top: 40px;
     border-color: lightgray;

 }
   
  h2{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      text-decoration: underline;
      margin-top: 100px;
  }
  th{
      background-color: darkgrey;
  }
  