 <div >
    <h2>Registered Students</h2>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <th>S/N</th>
        <th>Name</th>
        <th>Matricule Number</th>
        <tr *ngFor="let student of registeredStudent">
            <td>
                {{student.id}}
            </td>
            <td>
                 {{student.name}}
            </td>
            <td>
                {{student.matriculeNumber}}
            </td>
        </tr>
 </table>
 </div>
