<div>
    <h2>Student Details</h2>
</div>
    <table class="identity">
        <tr>
            <td><strong><span class="glyphicon glyphicon-user"></span>Name</strong> :</td>
            <td class="name"><strong>{{student.name}}</strong></td>
        </tr>
        <tr>
            <td><strong>Matricule Number : </strong></td>
            <td class="name" ><strong>{{student.matriculeNumber}}</strong></td>
        </tr>
    </table>
 
<h5>Transcript</h5>
 
    <table class="table table-bordered table-condensed" id="transcript">
        <tr>
            <th>Course</th>
            <th>Credit Value</th>
            <th>Score</th>
            <th>Letter Grade</th>
            <th>Grade Point</th>
            <th>Course Point</th>
        </tr>
        <tr *ngFor="let course of student.studentCourse" >
            <td>{{course.courseCode}}</td>
            <td>{{course.creditValue}}</td>
            <td>{{course.score}}</td>
             <td>{{ letterGrade(course.score) }}</td>
             <td>{{gradePoint(course.score, course.creditValue)}}</td>
             <td>{{coursePoint(course.creditValue, course.score)}}</td>
        </tr>
        <tr>
            <td>Total Credit Attempted</td>
            <td>{{creditAtt}}</td>
            <td>Total Credit Earned</td>
            <td>{{creditEarn}}</td>
            <td>GPA</td>
            <td>{{computeGpa()}} / 4</td>
        </tr>
    </table>
     
 
 
