.detail {
    margin-left: 280px;
    margin-bottom: 40px;
}
 
h2{
      margin-top: 100px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      text-decoration: underline;
      margin-top: 100px;
      font-size: 40px;
      margin-bottom: 40px;
}
td {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
 

.name {
    padding-left: 300px;
     
}
.matricule {
    padding-left: 140px;
}
h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.identity {
    width: 900px;
    text-align: left;
    margin-left: 160px;
    margin-bottom: 10px;
    margin-top: 40px;
    border-color: lightgray;
    padding:10px
}
th {
    
    background-color: darkgrey;
}
#transcript {
    width: 900px;
    text-align: center;
    margin-left: 160px;
    margin-top: 5px;
    border-color: lightgray;
    padding: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid lightgray;
     
}

#grade
{
    margin-bottom: 120px;
    margin-left: 160px;
    margin-top: 0px;
    border-color: lightgray;

} 

 
 
 
 
 